.description {
  background: #E3AF47;
  padding: 40px;
}

.description h3{
  font-size: 36px;
  font-style: italic;
}

.sub-description{
  padding: 40px;

  button{
    padding: 7px;
    text-transform: uppercase;
    background-color: white;
    border: black solid 2px;
    letter-spacing: 2px;
}


}